*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Arial, sans-serif;
}

#titlecard{
    height: 100vh;
    background-color: darkblue;
}
#card-container{
    background-color: black;
    padding: 6vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    flex: 0 0 30%;
    aspect-ratio: 1/1.4;
    background-color: darkgreen;
    border: 0.5vw solid red;
}
#byline{
    background-color: black;
    text-align: center;
}
#question-container{
    background-color: black;
    padding-top: 2vw;
}
.question{
    padding: 2vw;
}